:root {
    --fundo-branco: #ecf0f1;
    --branco: #FFFF;
    --bg-azul: #58af9c;
    --cinza-claro: #97a2a5;
}

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: auto;
    font-size: 16px;
    font: 16px Arial, sans-serif;
    background-color: var(--fundo-branco);
    padding: 1rem;
}
p{
    color: red;
}
/*Centraliza elementos*/
.centraliza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Tela de Cadastro*/
.container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--branco);
   
}

.container__login {
    width: 100%;
    height: 80vh;
    background-color: var(--bg-azul);
    gap: 1.5rem;
}

.container__login h2 {
    color: var(--branco);
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.container__login p {
    color: var(--fundo-branco);
}

.btn {
    background-color: var(--bg-azul);
    color: var(--branco);
    width: 150px;
    padding: 0.7rem;
    text-transform: uppercase;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn__login{
    outline: 1px solid var(--branco);
    transition: 1s;
}

.btn__login:hover {
    background-color: var(--branco);
    color: var(--bg-azul);
}

.container__cadastro {
    height: 80vh;
}

.cabecalho__cadastro {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
}

.cabecalho__cadastro h2 {
    color: var(--bg-azul);
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.cabecalho__cadastro p {
    color: var(--cinza-claro);
}

.icons {
    display: inline-block;
    color: var(--cinza-claro);
    font-size: 2rem;
}

form {
    padding: 1rem;
    text-align: center;
    clear: both;
}

.label__cadastro{
    display: block;
    visibility: hidden;
}

input {
    width: 100%;
    height: 50px;
    padding-left: 35px;
    background-color: var(--fundo-branco);
    border: none;
}

.icon-input {
    position: absolute;
    line-height: 50px;
    padding-left:  10px;
    color: var(--cinza-claro);
}

.btn__cadastrar {
    margin-top: 20px;
    transition: 1s;
    box-shadow: 1px 3px 4px var(--cinza-claro);
}

.btn__cadastrar:hover {
    outline: 1px solid var(--bg-azul);
    background-color: var(--branco);
    color: var(--bg-azul);
}


/*Tela Login ******************/
.login {
    height: 650px;
    justify-content: space-evenly;
    text-align: center;
    background-color: var(--branco);
    display: flex;
}

.login__titulo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--bg-azul);
}

.login p{
    color: rgb(66, 63, 63);
    margin-bottom: 8px;
}

.esqueceu__senha {
    float: right;
    font-size: 0.7rem;
    color: rgb(99, 46, 46);
}

.label__login {
    visibility: visible;
    display: block;
    text-align: left;
    font-weight: bold;
    color: rgb(66, 63, 63);
    margin-bottom: 4px;
}

.input__login {
    border: none;
    border-bottom: 2px solid var(--bg-azul);
    margin-bottom: 15px;
}

.input__login:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid var(--bg-azul);
    caret-color: var(--bg-azul);
}

.btn__login {
    margin-top: 20px;
    width: 80%;
    box-shadow: 1px 3px 4px var(--cinza-claro);
}

.btn__login:hover {
    outline: 1px solid var(--bg-azul);
}

.logar-com .icons {
    padding: 10px;
    color: var(--bg-azul);
    transition: 0.2s ease;
}

.logar-com .icons:hover {
    transform: scale(110%);
}

.desativado {
    display: none;
}
@media (min-width: 720px) {
    body {
        height: 100vh;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .container {
        flex-direction: row;
    }

    .container__login {
        width: 40%;
    }

    .container__cadastro {
        width: 60%;
    }
}